<div class="wrapper">
  <nav class="main-nav">
      <div class="nav-menus">
          <a class="img-title" routerLink="/home"><img class="image" src="../../assets/images/tags.png" width="30" height="30"></a>
          <a class="title">"SOURCESCRIPT"</a> 
          <a class="sign-in-alt" routerLink="/login"><fa-icon class="fa-2x" [icon]="faSignInAlt"></fa-icon></a>
          <a><input placeholder = " Search..." class="search" type="search"></a>
          <a class="envelope"><fa-icon class="fa-2x" [icon]="faEnvelopeSquare"></fa-icon></a> 
          <a class="inbox" routerLink="/about-us"><fa-icon class="fa-2x" [icon]="faInbox"></fa-icon></a>
          <a class="home" routerLink="/home"><fa-icon class="fa-2x" [icon]="faHome"></fa-icon></a>
          <a class="bars"><fa-icon class="fa-lg" [icon]="faBars"></fa-icon></a>
      </div>
  </nav>
</div>
